:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  height: 50px;
  margin-bottom: 10px;
}

.input{
    /* margin-right: 10px; */
    height: 35px;
    border-radius: 0%;
    border: none;
    padding: 5px;
    outline: 0;
    color: darkslategrey;
}

/* .input:focus {
    background-color: lightcyan;;
} */



.button{
background-color: aquamarine;
border: none;
height: 35px;
outline: 0;
color: darkslategrey;
}

.button:hover,
.button:focus{
    color: aliceblue;
    background-color: darkslategrey;
}

/* .unavailable{
    cursor: not-allowed;
}

.unavailable .button:hover{
    cursor: not-allowed;
} */

.load-more { 
    margin-right: auto;
    margin-left: auto;
    background-color: aquamarine;
        border: none;
        height: 35px;
        outline: 0;
    
        color: darkslategrey;
}

.load-more:hover,
.load-more:focus {
    color: aliceblue;
        background-color: darkslategrey;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
   
}


.photo-card {
    position: relative;

    margin-bottom: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card:hover {
    transform: scale(1.03);
}

.gallery__image {
    width: 360px;
        height: 240px;
        display: block;
    /* height: auto; */
    /* width: 100%; */
    /* object-fit: cover; */
    
}

.gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
    color: black;
}

.gallery__link:hover {
    cursor: pointer;
}

.info {
    max-width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    color: black;
}

.is-hidden {
    display: none;
}
